@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
.footer{
    min-height: 245px;
    width: 100%;
    background-color: rgba(15, 19, 26, 0.5);
    color:#fefefe;
    font-family: aktiv-grotesk, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    padding: 30px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
}
.logo{
    font-family: 'Poppins', Lato, Helvetica Neue, Quicksand;
    font-size: 38px;
    font-weight: bold;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    border-radius: 10px;
}
.lista{
    list-style: none;
}
.lista li{
    margin-top: 7px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.lista li:hover{
    transform: translateX(20px);
    color: #E61B7B;
}
.icons{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons svg{
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: rgba(255, 255, 255, 0.8);
    transition: ease 0.3s;
}
.icons svg:hover{
    fill: #E61B7B;
}
.copy{
    margin-top: 0px;
    width: 100%;
}
@media (max-width:768px){
    .footer{
        flex-direction: column;
    }
    .footer div{
        margin-top: 10px;
    }
}