.hero {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: static;
}

.hero-content {
    max-width: calc(100vw - 20px); /* 100vw é a largura da janela atual, subtrai 20px */
    margin: 0 auto; /* Centraliza horizontalmente o conteúdo */
    text-align: center; /* Alinhamento horizontal no centro */
    display: flex;
    flex-direction: column; /* Para centralizar verticalmente */
    justify-content: center; /* Para centralizar verticalmente */
    animation: moveDown 1.5s ease forwards;
}

.titulos{
    font-family: Arial, sans-serif; /* Fonte preferencial, seguida de fontes genéricas sans-serif */
    color: #E61B7B; /* Cor de texto predominante */
    font-size: 36px; /* Tamanho desejado para o título */
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.intro-texto{
    color: #868686; /* Cor desejada para os parágrafos */
    font-family: 'Helvetica', sans-serif; /* Fonte desejada para os parágrafos */
    font-size: 16px; /* Tamanho desejado para os parágrafos */
}

.produtos-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha se não couberem na largura da janela */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    margin-top: 20px;
    max-width: calc(100vw - 20px); /* Define uma largura máxima que é 20px menor que a largura da janela atual */
}

.produto {
    text-align: center;
    width: 70; /* Largura desejada para o retângulo de fundo */
    height: 130px; /* Altura desejada para o retângulo de fundo */
    border-radius: 50px; /* Bordas arredondadas */
    align-items: center; /* Pode ser usado para centralizar a imagem verticalmente */
    justify-content: center; /* Pode ser usado para centralizar a imagem horizontalmente */
    background-color: #606075; /* Cor de fundo cinza */
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    transition: transform 0.4s, background-color 0.2s; /* Adicione uma transição suave para 'transform' e 'background-color' */
    margin: 10px; /* Adicione margem entre os elementos */
}

.produto:hover {
    animation: moveProdutos 1.5s ease forwards; /* Move o elemento para cima quando o mouse passa por cima */
    background-color: #f261a5; /* Cor de fundo rosa quando o mouse está sobre o elemento */
    font-size: 20px;
}

.equipe-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha se não couberem na largura da janela */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    margin-top: 20px;
    max-width: calc(100vw - 20px); /* Define uma largura máxima que é 20px menor que a largura da janela atual */
}
.funcionario {
    text-align: center;
    width: 200px; /* Largura desejada para o retângulo de fundo */
    height: 250px; /* Altura desejada para o retângulo de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    align-items: center; /* Pode ser usado para centralizar a imagem verticalmente */
    justify-content: center; /* Pode ser usado para centralizar a imagem horizontalmente */
    background-color: #606075; /* Cor de fundo cinza */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.2s, background-color 0.2s; /* Adicione uma transição suave para 'transform' e 'background-color' */
    margin: 10px; /* Adicione margem entre os elementos */
}
.funcionario:hover {
    transform: translateY(-5px); /* Move o elemento para cima quando o mouse passa por cima */
    background-color: #f261a5; /* Cor de fundo rosa quando o mouse está sobre o elemento  */ 
}
.nome-funcionario{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    fint-size: 20px;
}
.funcao-funcionario{
    color: #E61B7B; /* Cor desejada para os parágrafos */
    font-family: 'Helvetica', sans-serif; /* Fonte desejada para os parágrafos */
    font-size: 18px; /* Tamanho desejado para os parágrafos */
}


.sobre-nos-conteudo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Defina a altura como automática */
    /* Defina uma altura máxima */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical, se necessário */
}

.sobre-nos-texto{
        padding: 30px;
        text-align: left; /* Alinha o texto dos parágrafos à esquerda */
        max-width: calc(100vw - 20px); /* Define uma largura máxima para o texto para evitar que ele fique muito largo na tela */
        margin: 0 auto; /* Centraliza horizontalmente o texto dos parágrafos */
        margin-left: 100px;
        color:#ffffff;
        font-size: 14px;
}

.texto-produtos{
    padding: 36px;
    text-align: left; /* Alinha o texto dos parágrafos à esquerda */
    max-width: calc(100vw - 20px); /* Define uma largura máxima para o texto para evitar que ele fique muito largo na tela */
    margin: 0 auto; /* Centraliza horizontalmente o texto dos parágrafos */
    margin-left: 100px;
    color:#ffffff;
    font-size: 16px;
}
.subtitulo-produtos{
    color: #E61B7B; /* Cor desejada para os subtítulos */
    font-family: 'Verdana', sans-serif; /* Fonte desejada para os subtítulos */
    font-size: 19px; /* Tamanho desejado para os subtítulos */
    margin-top: 2px;
}

.produtos-detalhes{
    display: flex; /* Usando flexbox para alinhar elementos lado a lado */
    align-items: center; /* Alinhar verticalmente ao centro */
}

.produtos-detalhes-texto{
    margin-left: 10px;
    margin-top: 10px;
}




@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}

@keyframes moveProdutos {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
        border-radius: 10px;
    }
}
